<!--Section One-->
<section>
    <div class="row" >
        <div class="column">
            <a>
                <img src="assets/img/mobilephone.jpg" width="350">
            </a>
        </div>
        <div class="column 2">
            <h2>  Welcome To iDesign </h2>
            <p> To Learn More, Enter The iDesign Lounge </p>
            <button> Learn More </button>
            <p> 
                Award Winning Web Design Services at your fingertips. 
                Our responsive, graphic designs are built to client specifications. 
                We cater primarily to start-ups, looking for the minimlistc wonders 
                of a single landing page site.

                Need more? Well learn more via the <strong>Learn More</strong> button above.
                
            </p>
        </div>
    </div>
</section>